
    {% extends "home.html" %}

    {% block content %}

    <h2 class="text-center text-danger">About Us</h2>
    <p>Over the last hundred years, technological change has transformed the way we live and learn. Looking at the rapid pace
at which we are soaring to newer heights of knowledge, it is inevitable for imparters of knowledge to light the way and
transform ways of acquiring knowledge.Excel Study Centre is an edtech firm that caters to the educational needs of Generations. 
By combining the traditional with the modern, Excel Study Centre caters to offline students,  being able to access real-time 
tutor support in the form of study centre.
Excel Study Centre is the place for global learners. With students from more than 25 countries, right from young readers to
university graduates, Excel Study Centre cater to learners with their personalized learning programmes that are tailor-made to fit
their academic goals and ambitions. From a flawless personal statement to flawless report cards, we lead the light and
provide mentorship by eliminating mistakes and pointing them out before you make them.
</p>
{% endblock %}
